# MacOS
.DS_Store

# Model
# /BunGesture/mydiffusion_beat_twh/BEAT_mymodel4_512_v0/model001080000.pt
# /BunGesture/mydiffusion_beat_twh/TWH_mymodel4_512_v0/model001200000.pt

# File extension
*.pt
*.zip
*.tar.gz
*.tar
*.gz
*.log
*.peaks
*.pyc
temp/
*.vec
*.npy
*.npz
.vscode/
BunGesture/train\ data/
